.label-listView-magasin {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: dimgrey;

}

.title-section {
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-fill-width: true;
}

.button-amount-selector {
    -fx-text-fill: white, 25;
    -fx-border-color: dimgray;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-background-color: #426FC5;

}

.text-listview-magasins {
    -fx-font-weight: 600;
}

.title-magasin {
    -fx-font-size: 25;
    -fx-text-fill: black;
}


.top-button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}


.button-pagination {
    -fx-background-radius: 5em;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-text-fill: white;
    -fx-font-size: 8;
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.button-buy {
    -fx-text-fill: white, 25;
    -fx-border-color: dimgray;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-background-color: #426FC5;
    -fx-pref-width: 150px;
}

.button-gestion {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}